# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
.venv/

# VS Code
.vscode/

# Environment variables
.env

# macOS
.DS_Store

# Logs
*.log

# Test cache
.pytest_cache/

# Coverage
.coverage
htmlcov/

# Jupyter
.ipynb_checkpoints/dist/
build/
*.spec
__pycache__/
*.pyc
.venv/
.env
dist/
dist/
